body { margin:0; padding:0; }

/*Goal is to expand map width to 100 % and make sidebar smaller and transparent*/
#map { position:absolute; top:0px; bottom:0; width:74%; }


/*Story sidebar*/
/********************************************/

/*Jack added*/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #000000;
  padding: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #606466;
  text-decoration: none;
}



#markerinfo {
    position: absolute; top: 0px; right: 0;
    bottom: 0; width: 23%; background:#fff; color: #000;
    padding: 20px;
    border-left: 3px solid #fff;
    font-family: 'Lato';
}

#markerinfo2 {
    width: 120%;
    margin-left: -8%;
}

#markerinfo2 iframe#iframe {
    height: 555px;
    width: 95%;
    margin-top: 5px;
}

#markerinfo2 div.cycle {
    margin-top: 0 px;
    margin-left: 2%;
}

#markerinfo2 div.cycle a.next{
    color: #3990A3;
    height: 16px;
    display:inline-block;
    font-family:'Lato';
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    margin-left: 35px;
}

#markerinfo2 div.cycle a.next1{
    color: #3990A3;
    height: 16px;
    display:inline-block;
    font-family:'Lato';
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    margin-left: 50%;
}

#markerinfo2 div.cycle a.prev{
    color: #3990A3;
    height: 16px;
    display:inline-block;
    font-family:'Lato';
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}

/*Styling for popup*/
.popup {
    text-align: center;
}

/* Styling for layer definition popups*/


.popup{
    position:relative;
    width:200px;
    margin-left: 265px;
    margin-top: 120px;
    font-family: 'Lato';
    font-size:13px;
    padding:10px;
    background-color:#F3F8F8;
    border:2px solid #FFF;
    z-index:100000000000000000;
    }


div.leaflet-popup-content-wrapper {
    overflow: auto;
}
