body {
  margin:0; padding:0;
}
#map {
  position:absolute; top:0px; bottom:0; width:100%;
}
#story {
  font-size:14px;
  width:300px;  /* FIX: when narrower than 300px, auto-scroll horizontal for wide text */
  height:90%;
  font-family:Arial;
  background-color:#fff;
  background-color:rgba(255,255,255,0.7);
  position:absolute;
  z-index:1;
  top:0;
  right:0;
  padding:8px;
  /*overflow:auto;*/
}
#story h1 {
  font-size:16px;
}
#story img {
  width: 100%;
}
#story a {
  text-decoration:none;
  color:inherit;
  font-weight:bold;
  font-style:italic;
}
.btn {
  font-family: Lato;
  color: #ffffff;
  font-size: 14px;
  padding: 3px;
  text-decoration: none;
}
.btn:hover {
  background: #D8D8D8;
  text-decoration: none;
}
.next {
  position: absolute; right: 5px;
}
.prev {
  position: absolute; left: 5px;
}



/* KEEP OR TOSS this older code? -- Styling for layer definition popups*/
.popup{
    text-align: center;
    position:relative;
    width:200px;
    margin-left: 265px;
    margin-top: 120px;
    font-family: 'Lato';
    font-size:13px;
    padding:10px;
    background-color:#F3F8F8;
    border:2px solid #FFF;
    z-index:100000000000000000;
    }
div.leaflet-popup-content-wrapper {
    overflow: auto;
}
